@use "@/style/_variables.scss" as *;

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: $font-family-primary;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero__container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: $container-xl;
    margin: 0 auto;
    text-align: flex-start;
    font-family: $font-family-primary;

    .hero__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $spacing-32;
        text-align: center;

        p {
            font-family: $font-family-heading;
            font-size: $font-size-7halfxl;
            font-weight: $font-weight-bold;
            line-height: $line-height-super-tight;
            color: var(--color-text-primary);
            margin: 0;
            white-space: nowrap;
        }

        // Tablet and below - adjust font size
        @media (max-width: calc(#{$breakpoint-lg} - 1px)) {
            align-items: center;
            text-align: center;
        }
    }
}
