@use "@/style/_variables.scss" as *;

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero__container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: $container-2xl;
    margin: 0 auto;
    padding: $spacing-4 $spacing-6;
    text-align: center;
}
